---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { siteConfig } from "@/site-config";
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Turning Your Old Tech into New Opportunities",
		href: "https://newliteracy.online/services/reduce-reuse-recycle/",
		title: "Technology Recycling Services",
	},
	{
		desc: "Your Trusted Partner in Computer Solutions.",
		href: "https://newliteracy.online/services/repair-upgrade-recovery-virus-removal/",
		title: "Computer Repair",
	},
	{
		desc: "Welcome to the Future of Entertainment with Android TV Set-Top Boxes!",
		href: "https://newliteracy.online/services/android-tv/",
		title: "Android TV",
	},
	{
		desc: "Powerful Computing Solutions for Your Business and Academic Needs",
		href: "https://newliteracy.online/blog/busniness-adademic-computing/",
		title: "Basic Systems",
	},
	{
		desc: "Unleash Your Creativity with Customized High-End Builds",
		href: "https://newliteracy.online/blog/custom-high-end-computers/",
		title: "Custom Systems",
	},
	{
		desc: "Stay Connected and Productive with Our Range of Mobile Devices",
		href: "https://newliteracy.online/blog/cutting-edge-mobile/",
		title: "Mobile Devices",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">New Literacy Technology Consultants Blog</h1>
		<p class="mb-4">
			{siteConfig.description}
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Services</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
